.div-comment-dlt {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    padding-bottom: 10px;
    width: 500px;
    height: 200px;
   
}


.comment-dlt-button-ok {
    width: 90%;
    background-color: rgb(84, 132, 213);
    color: white;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.comment-dlt-button-no {
    width: 90%;
    background-color: darkgrey;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}

.comment-message {
    font-size: 20px;
}
