

.team {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-content: flex-start;
    margin-bottom: 80px;
    padding-left: 0px;
}



.multicolor-text {
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
}
