
#root {
  background-color: rgb(188, 188, 64);
  margin: 0;
  padding: 0;
  /* background-image: url("https://plus.unsplash.com/premium_photo-1679513691474-73102089c117?q=80&w=2913&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}


.profile-dropdown {
  position: relative;

}

.hidden {
  display: none;
}

.logo-div {
  display: flex;
  align-items: center;
  padding-left: 120px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bolder;

}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 2px solid rgb(230, 224, 224);
  text-decoration: none;
  background-color: black;
  height: 60px;
}

.nav-footer {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  z-index: 10;
  background-color: black;
  width: 100%;
  height: 40px;

}

.profile-menu-button {
  display: flex;
  border-radius: 15px;
  width: 65px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.create-new-album {
  color: rgb(35, 35, 124);
  font-size: 20px;
}

.bottom-menu {
  display: flex;
  /* border-bottom: 2px solid rgb(211, 208, 208); */
  border-bottom: 2px solid rgb(211, 208, 208);
  background-color: rgba(24, 23, 23, 0.925);
  /* height: 40px; */
  height: 2.5em;
  align-items: center;
  padding-bottom: 2px;
  box-sizing: border-box;
}

.menu {
  display: flex;
  color: white;
}

.logout-button {
  border: 1px solid black;
  border-radius: 50px;
  font-size: 14px;
  margin: 5px 0;
  background-color: rgb(102, 100, 100);
  cursor: pointer;
  color: white;
  padding: 7px;
}

.nav-image {
  border-top: black 2px;
  display: flex;
  height: 300px;
  width: 100%
}

.nav-background-image {
  background-image: url("https://static8.depositphotos.com/1439489/903/i/600/depositphotos_9030352-stock-photo-party.jpg");
  border-top: black 2px;
  display: flex;
  height: 260px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer-text {
  color: rgb(223, 220, 220);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 12px;
  font-family: serif;
}

.container {
  display: flex;
  align-items: last baseline;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 45%;
}

.nav-links {
  text-decoration: none;
  padding-top: 2px;
  font-size: 18px;
  color:white;
  transition: text-decoration 0.3s ease;
}
.nav-links:hover {

  text-decoration: underline;

}
